<div class="content-wrapper">
  <p>
    Hello, <br>
    my name is Sami.
  </p>
  <p>
    I am a Software Engineer by passion and strive to make the world a better place every day.
  </p>
  <p>
    Currently I am enrolled at <a href="https://www.tuwien.at/">TU Vienna</a> because I think one should never stop learning.
  </p>
  <p>
    I am also part of a dynamic company called <a href="https://techtalk.at">TechTalk</a> where we solve a diverse range of software problems
    and also help others to get better at envisioning and creating software
  </p>
  <p>
    However <b>I am open for new opportunities</b> so feel free to <a href="/contact">reach out to me</a> if you see me as a good fit. You may also check out my current <a href="/resume">CV</a>
    or take a look at some of my <a href="/projects">projects</a>.
  </p>

  <h4>Legal</h4>

  <p>
    Website reflects private interests only./Die Website dient rein privaten Interessen.<br>
    Owner/Inhaber: Sami Pasquali<br>
    Wohnort: Wien, Österreich<br>
  </p>
  <p>
    No data collected. No Cookies used.<br>
    Last updated in December 2025.
  </p>
</div>
