<div class="content-wrapper">
  Hello, <br>
  my name is Sami.<br>
  <br>
  I am a Software Engineer currently enrolled at <a href="https://www.tuwien.at/">TU Vienna</a>.<br>
  <br>
  I am also part of dynamic company called <a href="https://techtalk.at">TechTalk</a> where we solve a diverse range of software problems
  I currently also work as a backend developer at a young start-up company where I am designing a C# Backend following
  domain driven design principles.<br>
  <br>
  <b>I am open for hiring.</b> Feel free to <a routerLink="/contact">contact</a> me if you see me as a good fit to your team.<br>
  You may also check my <a routerLink="/resume">résumé</a> for further information about my skills.
  <br>
  <br>

  <h4>Legal</h4>

  Website reflects private interests only./Die Website dient rein privaten Interessen.<br>
  Owner/Inhaber: Sami Pasquali<br>
  Wohnort: Wien, Österreich<br>
  <br>
  No data collected. No Cookies used.<br>
  Last updated in December 2025.
</div>
