.header {
  padding: 10px;
  font-size: 1.2rem;

  border-bottom: 1px solid black;
}

.main {
  flex-grow: 1;
  height: 0px;

  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  padding: 10px;
}
