Hello, <br>
my name is Sami.<br>
<br>
I am a Software Engineer currently in education at <a href="https://www.tuwien.at/">TU Vienna</a>.<br>
<br>
I currently also work as a backend developer at a young start-up company where I am designing a C# Backend following
domain driven design principles.<br>
<br>
I am open for hiring. Feel free to <a routerLink="/contact">contact</a> me if you see me as a good fit to your team.<br>
You may also check my <a routerLink="/resume">résumé</a> for further information about my skills.
<br>
<br>
<i>This page is still under construction.</i>
