<markdown>
  ### My résumé so far

  #### Skills

  | | |
  | - | - |
  | Languages | German (main language), English |
  | Programming languages | Java, C#, C++, Python, Typescript, Bash |
  | Tools | Linux (daily driver), Git, Docker |
  | Frameworks | Duende Identity Server, Asp.Net, Angular, Spring Boot |
  | Concepts | Scrum / Agile, Microservices, Domain Driven Design, Clean Architecture, Design Patterns |


  #### Work

  | | | |
  | -- | -- | -- |
  | 2021 - ongoing | [Care Development GmbH](https://www.care-development.com/) | Employed as Backend developer. Co-managed the agile project management and created the system employing domain driven design, event storming, microservices and docker using Azure Pipelines |
  | 2021 | [Smiths Detection](https://www.smithsdetection.com/) | Contract work to build a conveyor build visualization in 2D and 3D. Web based using Python, Flask, d3.js and WebGL |
  | 2017 - 2019 | [Smart Lift GmbH](https://caravansmartlift.com/) | Contract work to develop a self levelling system for caravans that is app controlled, creating an embedded system using C++ and Apache Cordova for the mobile app |
  | 2017 - 2020 | [Bundesrechenzentrum GmbH](https://www.brz.gv.at/) | Employed as SAP BI specialist. Developed Reports using ABAP, UI5 but also big data applications using Kafka, Scala and Spring. |

  #### Education

  | | | |
  | -- | -- | -- |
  | 2018 - ongoing | [TU Vienna](https://www.tuwien.at/) | Bachelor in Software & Information Engineering |
  | 2016 - ongoing | [Austrian Red Cross](https://www.roteskreuz.at/home) | Community Service as paramedic |
  | 2011 - 2016 | [HTL Pinkafeld](https://www.htlpinkafeld.at/) | Secondary school with a focus on IT |

</markdown>

