.navigation-wrapper {
  position: fixed;
  inset: auto 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;

  border-block: 1px solid black;
  background: white;

  @media screen and (width > 480px) {
    position: static;
    border-top: 0;
  }
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  flex-grow: 1;
  max-width: 700px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navigation-list a {
  display: block;

  text-decoration: none;
  color: black;
}

.navigation-list a:hover {
  text-decoration: none;
  background: black;
  color: white;
}
