name: Build

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Adding Node.js
        uses: action/setup-node@v2
        with:
          node-version: 22

      - name: Install Dependencies
        run: npm ci

      - name: Build Angular App
        run: npm run build
